@import "../../styles/common";
@import "../../styles/colors";

.nf-status-bar.container {
  width: $commonWidth;
  padding: 0 7%;
  background-color: $greyLight;
  font-weight: bold;
  color: $greyDark;
  .nf-status-bar-row {
    height: 50px;
    padding: 15px 0;
  }
}

